@{
    ViewBag.Title = "Home Page";
}
<img src="https://th.bing.com/th/id/R.21bd75c90f52f7a1f86f34513bc61950?rik=IpCXBO6D8TH16Q&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fqXMLB6e.jpg&ehk=%2bbGz52Y0OXuhNDhOSw3bLTI6%2fwtGOEmS5JXT1Vsb128%3d&risl=&pid=ImgRaw&r=0"/>

<p>This is a page to look up students, courses, and to register for classes.</p>

